.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    color: burlywood;
}

.fa {
    font-size: 25px;
}

sup {
    padding: 4px;
    border-radius: 50%;
    border: 1px;
    background: #ff8c8c;
    color: white;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 17px;
}

@media screen and (max-width: 1024px) {
    .header-item {
        padding: 0px 17px;
    }
}